* {
    margin: 0;
    padding: 0;
}

body {
    color: #333333;
    background-color: #f4f1ea;
}

.box {
    max-width: 1072px;
    width: 100%;
    margin: 0 auto;
}

.head_menu {
    position: relative;
    padding-top: 0;
    padding-right: 0;
}

.head_menu > ul {
    border-radius: 0 5px 0 5px;
}

.head_menu > ul > li {
    margin: 0 5px;
    padding: 12px 0;
    position: relative;
    display: inline-block;
}

.head_menu > ul > li > a {
    color: #333333;
    display: block;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 1.4em;
    padding: 8px 18px;
    text-decoration: none;
    margin: 1px;
    z-index: 1;
    -webkit-transition-duration: 0.4s;
    -moz-transition-duration: 0.4s;
    -o-transition-duration: 0.4s;
    -ms-transition-duration: 0.4s;
    transition-duration: 0.4s;
    -webkit-transition-property: background-color;
    -moz-transition-property: background-color;
    -o-transition-property: background-color;
    -ms-transition-property: background-color;
    transition-property: background-color;
    border-radius: 5px;
}

.head_menu > ul > li > a:hover,
.head_menu > ul > li > a:active {
    background-color: rgba(0, 0, 0, 0.043);
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    margin: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.05) inset;
}

.post_details {
    padding: 6px;
    font-size: 12px;
    background: #e8e5df;
    border-radius: 5px;
    color: #b3b3b3;
}

.post_box {
    margin-bottom: 40px;
    border-bottom: 1px solid #c7c5c1;
}

.content p {
    margin-bottom: 16px;
    font-size: 115%;
    line-height: 120%;
    padding-bottom: 10px;
    font-family: arial, sans-serif;
}

.content ul {
    padding: 0 0 20px 30px;
}

.content li {
    font-size: 115%;
    line-height: 120%;
    font-family: arial, sans-serif;
}

a.post_link {
    font-weight: 300;
    line-height: 1em;
    margin: 0 0 10px;
    color: #363539;
    font-family: 'Open Sans', sans-serif;
    font-size: 32px;
    text-decoration: none;
    display: block;
}

a.post_link:hover {
    color: #4f4e53;
}

.center {
    text-align: center;
}

.vertical_center {
    vertical-align: middle;
}

.right_box {
    width: 330px;
}

.right_content {
    margin-bottom: 20px;
    background-color: #f4f1ea;
    border: 1px solid #d8d6d0;
    border-radius: 5px;
}

.right_content_head {
    color: #333333;
    background-color: #e8e5df;
    border-color: #d8d6d0;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 140%;
}

.right_content_ava {
    width: 100%;
    height: 240px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.right_content_body {
    padding: 10px 15px;
    text-align: center;
    font-size: 110%;
}

.line {
    width: 100%;
    height: 8px;
    background: #363539;
}

.head_image {
    width: 100%;
    height: 146px;
    background: url('/lightweb/img/head.jpg') no-repeat center;
}

.flex {
    display: flex;
}

.head_box {
    width: 100%;
    border-bottom: 1px solid #c7c5c1;
}

.float_left {
    float: left;
}

.float_right {
    float: right;
}

.content_box {
    padding: 50px 0;
}

.content {
    width: 100%;
    padding-right: 30px;
}

.footer_image {
    height: 120px;
    background: url('/lightweb/img/footer.jpg') no-repeat center;
}

.footer_box {
    background-color: #363539;
}

.footer_content {
    padding: 30px 0;
}

.footer_content p {
    color: #999;
    font-size: 90%;
}

.footer_content a {
    font-family: 'Open Sans', sans-serif;
    color: #94918a;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 170%;
    margin-bottom: 40px;
    text-align: center;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 140%;
    margin: 30px 0 20px 0;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
    margin-bottom: 20px;
}

button, .button {
    color: #ffffff;
    background: #363539;
    display: inline-block;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 100%;
    line-height: 1.428571429;
    border-radius: 5px;
    user-select: none;
    margin: 0 5px;
}

button:hover, .button:hover {
    background: #000;
    text-decoration: none;
}

label {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    line-height: 120%;
    color: #444;
    display: block;
    margin: 5px 0 20px 0;
}

.form {
    display: block;
    width: 100%;
    max-width: 400px;
    height: 34px;
    padding: 6px 12px;
    font-size: 120%;
    line-height: 1.428571429;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}

a {
    text-decoration: none;
    color: #0062cc;
}

a:hover {
    text-decoration: underline;
}

a.full {
    display: block;
    width: 100%;
    height: 100%;
}

abbr {
    text-decoration: none;
}

.hidden {
    display: none;
}

.exp_background {
    width: 100%;
    min-height: 16px;
    background: #de983d;
}

.exp_fill {
    min-height: 16px;
    margin-top: -16px;
    background: #e3bd7c;
}

.exp_text {
    width: 100%;
    min-height: 16px;
    margin-top: -16px;
    text-align: center;
    color: #915609;
    font-size: 80%;
    line-height: 16px;
}

.energy_background {
    width: 100%;
    height: 16px;
    background: #227ba9;
}

.energy_fill {
    height: 16px;
    background: #44abe0;
    margin-top: -16px;
}

.energy_text {
    width: 100%;
    min-height: 16px;
    margin-top: -16px;
    text-align: center;
    color: #0b425f;
    font-size: 80%;
    line-height: 16px;
}

.residue_background {
    width: 100%;
    height: 4px;
    background: #d47403;
    border-radius: 0 0 4px 4px;
}

.residue_fill {
    height: 4px;
    background: #e3c5a3;
    margin-top: -4px;
    border-radius: 0 0 4px 4px;
}

.upload_background {
    width: 200px;
    height: 16px;
    background: #389107;
}

.upload_fill {
    height: 100%;
    background: #50bd14;
}

.upload_text {
    width: 200px;
    min-height: 16px;
    margin-top: -16px;
    text-align: center;
    color: #0b425f;
    font-size: 80%;
    line-height: 16px;
}

span.lvl {
    color: #ddd;
    background: #555;
    padding: 2px 6px;
    border-radius: 100%;
    font-size: 70%;
}

a.profile_link {
    color: #303956;
    text-decoration: none;
}

a.profile_link:hover {
    color: #314eac;
    text-decoration: underline;
}

.red {
    color: #a71d2a;
}

.green {
    color: #1c7430;
}

.yellow {
    color: #efc377;
}

.orange {
    color: #ff4500;
}

.notice_box {
    margin-bottom: 20px;
    border: 1px solid #d8d6d0;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgb(0 0 0 / 5%);
    display: flex;
}

.notice_box p {
    padding: 5px;
    margin: 0;
}

.notice_info, .notice_warning, .notice_success {
    width: 15%;
    min-width: 80px;
    text-align: center;
    border-radius: 5px 0 0 5px;
}

.notice_date_info, .notice_date_warning, .notice_date_success {
    width: 25%;
    min-width: 80px;
    text-align: center;
    border-radius: 0 5px 5px 0;
}

.notice_info {
    background-color: #e8e5df;
    border-color: #d8d6d0;
}

.notice_warning {
    background-color: #631b1b;
    border-color: #b33131;
    color: #fff;
}

.notice_success {
    background-color: #4b7720;
    border-color: #7dc736;
    color: #fff;
}

.notice_date_info {
    background-color: #e8e5df;
    border-color: #d8d6d0;
}

.notice_date_warning {
    background-color: #631b1b;
    border-color: #b33131;
    color: #fff;
}

.notice_date_success {
    background-color: #4b7720;
    border-color: #7dc736;
    color: #fff;
}

.notice_message_info, .notice_message_warning, .notice_message_success {
    width: 60%;
}

.notice_message_warning {
    background: #8b2626;
    color: #fff;
    border-color: #8b2626;
}

.notice_message_success {
    background: #649f2b;
    color: #fff;
    border-color: #649f2b;
}

.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    font-family: Verdana, sans-serif;
}

.pagination span {
    display: block;
    background: #363539;
    border: 1px solid #dddddd;
    color: #ffffff;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
}

.pagination a {
    display: block;
    color: #4f4e53;
    background: #ffffff;
    border: 1px solid #dddddd;
    text-decoration: none;
    margin-left: -1px;
    width: 36px;
    height: 36px;
    line-height: 36px;
    text-align: center;
}

.pagination a:hover {
    background: #999;
}

.up_notice_box {
    position: fixed;
    width: 50%;
    max-width: 600px;
    min-width: 200px;
    top: 0;
    right: 0;
    z-index: 1000;
    padding: 10px;
}

#up_open_notice:hover {
    opacity: 1;
    cursor: pointer;
}

#up_open_notice {
    float: right;
    width: 35px;
    height: 35px;
    background-image: url(/lightweb/img/notice.svg);
    background-size: cover;
    opacity: 0.8;
}

#up_open_notice p {
    padding: 20px 0 0 20px;
}

#up_open_notice span {
    color: #fff;
    padding: 2px 6px;
    background: #444;
    border-radius: 100%;
    font-size: 80%;
}

#up_notice_content {
    display: none;
}

.up_notice_row {
    background: #363539;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #464549;
    border-radius: 5px;
    display: flex;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,0.75);
}

.up_notice_row_l {
    width: 96%;
    font-size: 120%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #f4f1ea;
}

.up_notice_row_r {
    width: 4%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.up_notice_row_r, .up_notice_car span {
    font-size: 200%;
    line-height: 50%;
    color: #a11;
}

.up_notice_row_r, .up_notice_car span:hover {
    color: #f11;
    cursor: pointer;
}

.up_notice_car {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.up_notice_car p {
    text-align: center;
    font-size: 50%;
    font-family: 'Open Sans', sans-serif;
}

table {
    border-collapse: collapse;
    text-align: center;
    width: 100%;
    /*border: 1px solid #555;*/
}

th {
    border: 1px solid #555;
    background: #ddd;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #333;
    padding: 4px;
}

td {
    border: 1px solid #555;
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    color: #333;
    padding: 4px;
}

td.avatar {
    width: 60px;
    height: 60px;
    background-size: cover;
}

/* Pop-up message style start */

.notification_bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.6);
    z-index: 1000;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.notification_box {
    width: 90%;
    max-width: 500px;
    min-height: 100px;
    background: #444;
    border: 1px solid #333;
}

.notification_box p {
    font-size: 140%;
    padding: 10px;
    color: #aaa;
    text-align: center;
}

.notification_box h3 {
    background: #251d16;
    color: #d8be91;
    padding: 8px 10px 9px;
    font-size: 16px;
    font-weight: 300;
    text-shadow: 0 1px 2px rgba(0,0,0,0.3);
    border-bottom: 1px solid #422c1e;
    font-family: arial, sans-serif;
}

.notification_close {
    font-size: 300%;
    color: #822;
}

.notification_close:hover {
    cursor: pointer;
    color: #a22;
}

/* Pop-up message style end */

/* Post style start */

.tag_container {
    display: flex;
    flex-wrap: wrap;
}

.tag_box {
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    font-size: 70%;
    font-family: 'Open Sans', sans-serif;
}

.tag_box img {
    width: 94%;
    margin: 5px;
    border: 1px solid #333;
}

.post_rating_box {
    position: relative;
    float: right;
    padding: 0 10px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

#post_rating_value {
    height: 40px;
    text-align: center;
    font-size: 150%;
    line-height: 40px;
}

#post_rating_up {
    height: 24px;
    text-align: center;
    font-size: 120%;
    line-height: 24px;
}

#post_rating_up:hover {
    color: #247722;
    cursor: pointer;
}

#post_rating_down {
    height: 24px;
    text-align: center;
    font-size: 120%;
    line-height: 24px;
}

#post_rating_down:hover {
    color: #cd0b0b;
    cursor: pointer;
}

#post_rating_value {
    height: 40px;
    text-align: center;
    font-size: 130%;
    line-height: 40px;
}

.defaultRatingColor {
    color: #666;
}

.positiveRatingColor {
    color: #247722;
}

.negativeRatingColor {
    color: #cd0b0b;
}

/* Post style end */

/* Create post style start */

.post_create_box {
    padding: 0 30px;
}

.post_create_box p {
    padding: 0;
}

#post_create_title {
    display: block;
    margin: 0 auto 20px auto;
    width: 80%;
    background: none;
    box-shadow: none;
    border: 1px dashed #444;
    font-weight: 100;
    line-height: 180%;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 170%;
    margin-bottom: 40px;
    text-align: center;
}

#post_create_title:focus, .post_create_h2:focus {
    outline: none;
}

.post_create_h2 {
    display: block;
    border: none;
    background: none;
    box-shadow: none;
    line-height: 120%;
    text-align: left;
    padding: 5px 0;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    font-size: 120%;
}

#create_post_button_message, #create_comment_button_message {
    text-align: center;
    color: #922;
}

.post_upload_box {
    width: 200px;
    height: 15px;
    background: #555;
    margin: 0 auto;
    border-radius: 4px;
}

.post_button_create {
    text-align: center;
    margin: 40px 0 10px 0;
}

#post_add_content_box {
    margin: 50px 0 20px 0;
    display: flex;
    justify-content: center;
}

#post_add_content_box span {
    display: block;
    background: #333;
    padding: 5px;
    width: 130px;
    color: #999;
    font-size: 130%;
    line-height: 130%;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 1px 0 0 #555 inset, 0 2px 3px #222;
    margin-left: 20px;
}

#post_add_content_box div:hover, label:hover {
    cursor: pointer;
    color: #c67147;
}

#post_add_content_box div:not(:first-child), #post_add_content_box label:not(:first-child) {
    margin-left: 20px;
}

.post_delete_b {
    float: right;
    width: 30px;
    height: 40px;
    font-size: 150%;
    text-align: center;
    line-height: 40px;
}

.post_delete_b:hover {
    cursor: pointer;
    color: red;
}

.post_n_r {
    margin: 10px 0;
    padding: 10px 0;
    border: 1px dashed #444;
}

.post_n_b {
    min-height: 10px;
    display: flex;
    position: relative;
    align-content: stretch;
}

.post_n_b_l {
    width: 10px;
    min-height: 10px;
    display: flex;
    align-items: center;
}

.post_n_b_r {
    display: flex;
    min-height: 10px;
    width: 30px;
    align-items: center;
    justify-content: center;
    font-size: 250%;
}

.post_n_b_r:hover {
    cursor: pointer;
    color: red;
}

.post_n_b_t {
    flex: 1;
    min-height: 10px;

    /* Стили аналогичны p */
    font-family: arial, sans-serif;
    font-size: 120%;
    line-height: 115%;
    overflow: hidden;
    padding: 0 0 10px 0;
    margin: 0;
}

.post_n_b_t:focus {
    outline: none;
}

.post_n_b_img {
    flex: 1;
    min-height: 20px;
    text-align: center;
}

.post_n_b_t .linehere1 {
    margin: 5px 0 0 0;
}

.video_row {
    padding: 0;
}

.video_bg {
    width: 100%;
    padding-bottom: 56.25%;
}

.video_info {
    width: 100%;
    padding-bottom: 56.25%;
    margin-top: -56.25%;
}

.video_play_box {
    width: 100%;
    padding-bottom: 56.25%;
    margin-top: -56.25%;

    background-image: url('/img/video_play.png');
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.4;
}

.video_play_box:hover {
    cursor: pointer;
    opacity: 0.7;
}


.video_play {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120px;
    height: 120px;
    margin-left: -60px;
    background-image: url('/img/video_play.png');
    background-size: cover;
    opacity: 0.4;
}

.pr_upload_box {
    width: 200px;
    height: 15px;
    background: #555;
    margin: 0 0 20px 30px;
    border-radius: 4px;
}

.pr_upload {
    height: 15px;
    background: #262;
    border-radius: 4px;
}

.pr_upload_limit {
    height: 15px;
    background: #822;
    border-radius: 4px;
}

.pr_upload_text {
    width: 100%;
    height: 15px;
    margin-top: -15px;
    text-align: center;
    color: #aaa;
    font-size: 90%;
}

.pr_upload_input {
    display: none;
}

/* Create post style end */

/* hr style start */

.line_box {
    width: 100%;
}

.line_row {
    width: 90%;
    margin: 10px auto;
    height: 5px;
}

.line_left {
    float: left;
    width: 150px;
    height: 5px;
    border-top: 1px solid #444;
}

.line_right {
    float: right;
    width: 150px;
    height: 5px;
    border-top: 1px solid #444;
}

.line_center {
    height: 5px;
    margin: 0 150px;
    border-top: 1px solid #444;
}

/* hr style end */

/* Comment style start */

.comment_content {
    margin-bottom: 20px;
    background-color: #f4f1ea;
    border: 1px solid #d8d6d0;
    border-radius: 5px;
}

.comment_head {
    color: #333333;
    background-color: #e8e5df;
    border-color: #d8d6d0;
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 140%;
    margin-bottom: 10px;
}

.cm_con {
    display: flex;
    font-family: Arial, sans-serif;
    border-bottom: 1px dotted #ccc;
    margin-bottom: 10px;
}

.cm_con_left {
    width: 20%;
}

.cm_con_cent {
    width: 80%;
}

.cm_ava {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

.cm_author {
    text-align: center;
    padding: 5px 0 10px 0;
}

.cm_date {
    color: #999;
    font-size: 80%;
}

.cm_comment {
    padding: 10px 0 0 0;
}

.cm_author {
    font-size: 90%;
}

.cm_guest {
    color: #666;
    font-size: 90%;
}

.cm_level {
    font-family: verdana, sans-serif;;
    color: #ee966f;
    font-size: 90%;
}

.cm_add {
    max-width: 94%;
    min-height: 100px;
    margin: 0 auto 20px auto;
}

.cm_form {
    text-align: center;
}

.cm_con_right {
    position: relative;
    float: right;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin-right: 12px;
    color: #333;
}

.cm_rating_value {
    height: 30px;
    text-align: center;
    font-size: 100%;
    line-height: 30px;
    padding: 0 10px;
}

.cm_rating_up {
    height: 20px;
    text-align: center;
    font-size: 110%;
    line-height: 20px;
}

.cm_rating_up:hover {
    color: #282;
    cursor: pointer;
}

.cm_rating_down {
    height: 20px;
    text-align: center;
    font-size: 110%;
    line-height: 15px;
}

.cm_rating_down:hover {
    color: #f22;
    cursor: pointer;
}

/* Comment style end */



